manifest {
    description = 'HCL seqmet database building pipeline'
}

params {
    nfpath = '/path/to/seqmet-db'
    help = false
    directory = false
}

process {
    withLabel: varcall {
        container = '/path/to/seqmet-db/singularity/varcall-0.0.5.sif'
        maxForks = 1
        cpus = 16
        memory = 20.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: dbkit {
        container = '/path/to/seqmet-db/singularity/dbkit-0.0.1.sif'
        maxForks = 1
        cpus = 16
        memory = 600.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: nextclade {
        container = '/path/to/seqmet-db/singularity/nextclade-1.11.0.sif'
        maxForks = 1
        cpus = 16
        memory = 600.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: pangolin {
        container = '/path/to/seqmet-db/singularity/pangolin-4.0.6c.sif'
        maxForks = 1
        cpus = 16
        memory = 600.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
}

profiles {
    local {
        process.executor = 'local'
    }
}

executor {
  $local {
      queueSize = 16
      cpus = 16
      memory = '600 GB'
  }
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = '--bind /path/to/seqmet-db'
}
